/* Layout */

#header .container {
    padding: 5px 10px;
}

/* Contents */

.jumbotron {
    text-align: center;
    padding: 95px 0 80px 0;
}
    .jumbotron h2 {
        font-size: 40px;
        font-weight: 300;
        margin: 0 0 5px 0;
    }

    .jumbotron p {
        color: #868e96;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.75;
        max-width: 55%;
        margin: 0 auto 15px auto;
    }

.album {
    background-color: #f7f7f7;
    padding: 30px 0;
}

    .row {
        margin-bottom: 25px;
    }

    .card {
        background-color: #ffffff;
        border-radius: 6px;
        float: left;
        height: 370px;
        padding: 10px;
        width: 33.3333%;
    }

        .card-text {
            color: #868e96;
            font-size: 14px;
            margin: 10px 0 0 0;
        }