/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, HelveticaArial, sans-serif;
}

header {
    background-color: #343a40;
    padding: 9px;
}

p {
    line-height: 1.5;
}

h2 {
    border-bottom: 1px solid #c0c0c0;
    color: #006ce5;
    font-size: 20px;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
}

h3 {
    color: #00aa00;
    font-size: 18px;
    margin-top: 30px;
}

a {
    color: #006ce5;
    text-decoration :none;
}
    a:hover {
        text-decoration: underline;
    }

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/* Layout */

.page-name {
    color: #ffffff;
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 20px 0 0;
    padding: 8px;
}

.container {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

/* Contents */

.background-gray {
    border: 1px solid #c0c0c0;
    background: #efefef;
    padding: 20px;
}

.background-image,
.background-image-norepeat {
    border: 1px solid #c0c0c0;
    background-image: url('../images/patterns/hip-square.png');
    padding: 20px;
    line-height: 2;
}

.background-image-repeat-x,
.background-image-repeat-y,
.background-position-top-right,
.background-position-bottom-left,
.background-position-px {
    border: 1px solid #c0c0c0;
    background-image: url('../images/sunset.jpg');
    padding: 20px;
    line-height: 2;
}

.background-image-norepeat {
    background-repeat: no-repeat;
}

.background-image-repeat-x,
.background-image-repeat-y,
.background-position-top-right {
    height: 200px;
}

.background-image-repeat-x {
    background-repeat: repeat-x;
    padding-top: 150px;
}

.background-image-repeat-y {
    background-repeat: repeat-y;
    text-align: right;
}

.background-position-top-right {
    background-repeat: no-repeat;
    background-position: right top;
}

.background-position-bottom-left {
    background: #efefef url('../images/sunset.jpg') bottom left no-repeat;
    height: 240px;
}

.background-position-px {
    background-repeat: no-repeat;
    background-position: 40px 20px;
    height: 200px;
    text-align: right;
}

.background-size-50 {
    background: url('../images/sunset.jpg') left top no-repeat;
    background-size: 50% auto;
    border: 1px solid #c0c0c0;
    color: #ffffff;
    height: 200px;
    padding: 20px;
}

.background-size-cover,
.background-size-contain {
    color: #ffffff;
    border: 1px solid #c0c0c0;
    width: 400px;
    height: 200px;
    background: url('../images/sunset.jpg') left top no-repeat;
    background-size: cover;
    padding: 20px;
}

.background-size-contain {
    background-size: contain;
}

.background-gradient {
    background: #93cede; /* Old browsers */
    background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #93cede 0%,#75bdd1 41%,#49a5bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* IE6-9 */

    border: 1px solid #c0c0c0;
    color: #ffffff;
    line-height: 2;
    padding: 20px;
}