/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, HelveticaArial, sans-serif;
}

header {
    background-color: #343a40;
    padding: 9px;
}

p {
    line-height: 1.5;
    margin-top: 0;
}

h2 {
    border-bottom: 1px solid #c0c0c0;
    color: #006ce5;
    font-size: 20px;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
}

h3 {
    color: #00aa00;
    font-size: 18px;
    margin-top: 30px;
}

h4 {
    color: cadetblue;
    width: 70%;
}

a {
    color: #006ce5;
    text-decoration :none;
}
    a:hover {
        text-decoration: underline;
    }

p,
pre,
code {
    width: 70%
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/* Layout */

.page-name {
    color: #ffffff;
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 20px 0 0;
    padding: 8px;
}

.container {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

/* Content */

.example {
    background: #f5f2f0;
    padding: 15px;
    width: 70%;
}

article span {
    color: #006ce5;
}

article > p {
    color: #006ce5;
}

.list-example,
.list-example ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .list-example > li {
        display: inline-block;
        margin-right: 10px;
        position: relative;
    }

    .list-example > li > a {
        color: #000;
        background: #c0c0c0;
        padding: 5px 10px;
        line-height: 30px;
        text-decoration: none;
    }

    .list-example > li > a:hover {
        background: #a0a0a0;
    }

    .list-example > li > ul {
        display: none;
        position: absolute;
        top: 30px;
    }

    /* Show element on hover */
    .list-example > li:hover > ul {
        display: block;
    }

    .list-example > li > ul > li > a {
        color: #000;
        background: #efefef;
        line-height: 30px;
        padding: 5px 10px;
    }

input[disabled] {
    border: 1px solid #000;
    background: #999999;
    cursor: not-allowed;
    color: #fff;
    padding: 5px 10px;
}

#example-attribute-equals input[type="text"] {
    border: 1px solid red;
    background: #efefef;
}