/* Global Styles */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
}

.page-header {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/* Content */

.examples > div {
  min-height: 50vh;
  margin: 1vmin;
  border: 1px solid;
  overflow: hidden;
  background-color: #aaa;
  background-image: url(../images/squareweave.jpg);
}

.examples span {
  display: inline-block;
  margin: 1vmin;
  padding: 0.4em 0.4em;
  background-color: rgba(255, 255, 255, 0.8)
}

/* Background repeat */

.example-repeating-horizontally {
  background-repeat: repeat-x;
}

.example-repeating-vertically {
  background-repeat: repeat-y;
}

.example-not-repeating {
  background-repeat: no-repeat;
}

/* Background position */

.example-position-left {
  background-repeat: no-repeat;
  background-position-x: 50px;
}

.example-position-top {
  background-repeat: no-repeat;
  background-position-y: 50px;
}

.example-position {
  background-repeat: no-repeat;
  background-position: 50px 50px;
}

.example-position-centered {
  background-repeat: no-repeat;
  background-position: center;
}

.example-position-right {
  background-repeat: no-repeat;
  background-position: right;
}

.example-position-bottom {
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Background sizing */

.example-sizing-covering {
  background-repeat: no-repeat;
  background-size: cover;
}
.example-sizing-containing {
  background-repeat: no-repeat;
  background-size: contain;
}
.example-sizing-proportional {
  background-repeat: no-repeat;
  background-size: 300px;
}
.example-sizing-squeezed {
  background-repeat: no-repeat;
  background-size: 300px 100px;
}