/* Global Styles */
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  display: block;
  margin: 40px; }
  hr.last {
    margin: 100px 0 25px 0; }

@media (min-width: 768px) {
  hr {
    margin: 100px 0; } }

.textalign-right {
  text-align: right; }

/* Layout */
#header .container,
#footer .container {
  padding: 5px 15px; }

#header {
  margin-bottom: 1px; }

#nav {
  display: inline-block; }
  #nav .nav-container {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #nav .nav-item {
    display: inline-block; }
    #nav .nav-item a {
      color: #ffffff;
      display: block;
      font-weight: normal;
      padding: 4px;
      text-decoration: none; }
      #nav .nav-item a:hover {
        text-decoration: none; }
      @media (min-width: 768px) {
        #nav .nav-item a {
          padding: 10px; } }
  #nav .nav-item-current a {
    color: #aaaaaa;
    font-weight: bold;
    text-decoration: none; }

@media (min-width: 768px) {
  #nav .nav-item a {
    padding: 10px; } }

#quicksearch {
  float: right;
  padding: 5px 0; }
  #quicksearch input[type="text"] {
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-right: 3px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 100px; }
    @media (min-width: 768px) {
      #quicksearch input[type="text"] {
        font-size: 16px;
        line-height: 16px;
        margin-right: 5px;
        padding: 8px 12px; } }
  #quicksearch button {
    background-color: transparent;
    border: 1px solid #28a745;
    color: #28a745;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 5px; }
    @media (min-width: 768px) {
      #quicksearch button {
        padding: 10px 12px; } }

.container-medium {
  margin: 0 auto;
  width: 80%; }

/* Contents */
#hero {
  background: #777777 url("http://lorempixel.com/1820/900/nature/3") no-repeat top left;
  background-size: cover;
  position: relative;
  height: 472px;
  width: 100%; }

#hero-text {
  bottom: 15%;
  color: #ffffff;
  left: 5%;
  position: absolute;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.73);
  max-width: 60%; }
  #hero-text h2 {
    font-size: 40px;
    margin: 0 0 20px 0;
    padding: 0; }
  #hero-text p {
    font-size: 20px;
    line-height: 1.5; }

#service-list {
  margin: 40px 0 0 0; }
  @media (min-width: 768px) {
    #service-list {
      margin-left: -30px;
      margin-top: 50px; } }
  @media (min-width: 992px) {
    #service-list {
      margin-left: -50px;
      margin-top: 70px; } }

.service-item {
  margin: 0 0 40px 0;
  width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .service-item {
      display: block;
      float: left;
      margin: 0 0 30px 0;
      padding-left: 50px;
      width: 50%; } }
  @media (min-width: 992px) {
    .service-item {
      padding-left: 30px;
      width: 33.333333%; } }
  .service-item h3 {
    color: #555555;
    font-size: 30px;
    font-weight: 400;
    margin: 15px 0; }
  .service-item p {
    color: #000000;
    font-size: 14px; }

.service-image {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.feature .col {
  float: none; }
  @media (max-width: 767px) {
    .feature .col {
      width: 100%; } }
  @media (min-width: 768px) {
    .feature .col {
      float: left; } }

@media (min-width: 768px) {
  .feature-reverse .col {
    float: right; } }

.feature-image-right {
  text-align: left; }
  @media (min-width: 768px) {
    .feature-image-right {
      text-align: right; } }

.feature img {
  max-width: 100%; }

.feature h3 {
  color: #5a5a5a;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0 15px 0; }
  @media (min-width: 768px) {
    .feature h3 {
      font-size: 30px;
      margin: 0 0 20px 0; } }
  @media (min-width: 992px) {
    .feature h3 {
      font-size: 50px;
      margin: 80px 0 20px 0; } }

.feature .light {
  color: #a7a7a7; }
