/* Selectors
----------------------------*/

/* By type */
p {
	color: red;
	margin-bottom: 10px;
}

/* By class */
.blue-text {
	color: blue;
}

.bold-text {
	font-weight: bold;
}

/* By ID */
#moretext {
	color: green;
}

#nested {
	border: 1px solid #000;
}

/*
   Nested element selector:
   matches only <p> elements inside an element with the id "nested"
*/
#nested p {
	font-style: italic;
}

/* Colors
----------------------------*/

p {
	/* Predefined colors for most browsers */
	color: red;                   /* Keyword:   Examples: red, green, blue, brown, ... */
	color: #0000ff;               /* HEX Code:  Red, Green, Blue */
	color: rgb(255, 0, 0);        /* RGB Code:  Red, Green, Blue => 0 - 255 */
	color: rgba(255, 0, 0, 1);    /* RGBA Code: Red, Green, Blue, Transparancy (0 - 1) */
	color: rgba(255, 0, 0, 0.5);  /* RGBA Code: Red, Green, Blue, Transparancy (0 - 1) */

	/*
	   Color wheel:
	   http://www.color-hex.com/color-wheel/
	*/

	/* Font color */
	color: red;

	/* Background color */
	background-color: rgba(0, 0, 0, 0.7);

	/* Border color */
	border-color: red;
}

/* Font sizes
----------------------------*/

p {
	font-size: 12px; /* Pixels */
	font-size: 12pt; /* Points */
	font-size: 12em; /* Relative size to the parent element */
}

/* Font weights
----------------------------*/

p {
	font-weight: normal;  /* default (400) */
	font-weight: bold;    /* bold    (700) */
	font-weight: lighter; /* One font weight leighter than the parent element */
	font-weight: bolder;  /* One font weight heavier than the parent element */
	font-weight: 100;     /* Numeric values: 100, 200, 300, 400, 500, 600, 700; */
}

/* Borders
----------------------------*/

/*
  Border styles:

  none        Displays no border
  dotted      Displays a series of rounded dots
  dashed      Displays a series of short square-ended dashes
  solid       Displays a single, straight, solid line
  double      Displays two straight lines that add up to the pixel size defined
  groove      Displays a border with a carved appearance
  ridge       Displays a border with an extruded appearance
  inset       Displays a border that makes the element appear embedded
  outset      Displays a border that makes the element appear embossed 
*/

p {
	border: 1px solid rgb(0, 0, 0); /* Width, Style, Color */
}