/* Global Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, HelveticaArial, sans-serif;
}

header {
    background-color: #343a40;
    padding: 9px;
}

p {
    line-height: 1.5;
    margin-top: 0;
}

h2 {
    border-bottom: 1px solid #c0c0c0;
    color: #006ce5;
    font-size: 20px;
    margin: 0 0 15px 0;
    padding-bottom: 10px;
}

h3 {
    color: #00aa00;
    font-size: 18px;
    margin-top: 30px;
}

h4 {
    color: cadetblue;
    width: 70%;
}

a {
    color: #006ce5;
    text-decoration :none;
}
    a:hover {
        text-decoration: underline;
    }

p,
pre,
code {
    width: 80%
}

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/* Layout */

.page-name {
    color: #ffffff;
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 20px 0 0;
    padding: 8px;
}

#page {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

/* Styles for printers, if the PRINT button is pressed in the browser (CTRL + P) */
@media print {
    p {
        font-size: 12pt;
    }
}

/* Styles for screenreaders and disabled peaple */

@media speech {
    .stupid-elements {
        display: none;
    }
}

/* Styles for media features */

/* Targeting the minimum screen width for responsive breakpoints */
.container,
.container-2,
.container-3 {
    background: #efefef;
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

/* Example: Changing from 1 column layout to 2 column layout on larger screents */
@media (min-width: 760px) {
    .container {
      width: 45%;
    }
}

/* Combine media features */

@media (min-width: 760px) and (max-width: 860px) {
    .container-2 {
        background: #ffff00;
    }
}

/* Targeting devices that do not fit to a given rule */
@media not print {
    .container-3 {
        background: #ffff00;
    }
}